<div nz-row> 
    <div nz-row>
        <div nz-col nzSpan="4"> 
            <h2>Vedios List</h2>
        </div>
        <div nz-col nzOffset="16" nzSpan="4">   
            <button nz-button nzType="primary" class="pull-right" (click)="showModal()">Add Vedio</button>
        </div>
    </div>
    <div nz-row>
        <div nz-col nzSpan="24"> 
            <nz-table #editRowTable nzBordered [nzData]="playList" nzPageSize="5" >
                <thead>
                  <tr>
                    <th nzWidth="25%">No.</th>
                    <th nzWidth="15%">Title</th>
                    <th nzWidth="15%">URL</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let vedio of editRowTable.data">
                    <td>
                        {{vedio.id}}
                    </td>
                    <td>
                      <ng-container *ngIf="!editCache[vedio.id].edit; else nameInputTpl">
                        {{ vedio.title }}
                      </ng-container>
                      <ng-template #nameInputTpl>
                        <input type="text" nz-input [(ngModel)]="editCache[vedio.id].vedio.title" />
                      </ng-template>
                    </td>
                    <td>
                      <ng-container *ngIf="!editCache[vedio.id].edit; else ageInputTpl">
                        {{ vedio.url }}
                      </ng-container>
                      <ng-template #ageInputTpl>
                        <input type="url" nz-input [(ngModel)]="editCache[vedio.id].vedio.url" />
                      </ng-template>
                    </td>
                    <td>
                      <div class="editable-row-operations">
                          <ng-container *ngIf="!editCache[vedio.id].edit; else saveTpl">
                            <button nz-button nzType="primary"class=" marginright" (click)="startEdit(vedio.id)">Edit</button>
                          </ng-container>
                          <ng-template #saveTpl>
                            <button nz-button nzType="primary"class="  marginright"  (click)="saveEdit(vedio.id)">Save</button>
                            <button nz-button  nzType="primary" class="  marginright"  (click)="cancelEdit(vedio.id)">Cancel</button>
                          </ng-template>
                          <ng-container >
                            <button nz-button nzType="primary" class="marginright"  (click)="delete(vedio.id)">Delete</button>
                          </ng-container>
                          <ng-container *ngIf="vedio.status == 0">
                              <button nz-button nzType="primary" class="marginright"  (click)="Approve(vedio.id)">Approve</button>
                            </ng-container>
                      </div>
                    </td>
                  </tr>
                </tbody>
            </nz-table>
        </div>
    </div>

</div>


<nz-modal [(nzVisible)]="isVisible" nzTitle="Add Vedio" (nzOnCancel)="handleCancel()">
  <div>
    <form nz-form [nzLayout]="'inline'" [formGroup]="validateForm" (ngSubmit)="submitForm()">
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="website" nzRequired>Title</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input website!">
          <input formControlName="title" nz-input placeholder="title" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="website" nzRequired>URL</nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input website!">
              <input formControlName="url" nz-input  placeholder="url" />
          </nz-form-control>
        </nz-form-item>
    </form>
  </div>
  <div *nzModalFooter>
    <button nz-button nzType="default" (click)="handleCancel()">Cancell</button>
    <button nz-button nzType="primary" (click)="addVedio()" [nzLoading]="isConfirmLoading">Add</button>
  </div>
</nz-modal>
