<!-- <div class="container" >
    <h4> {{ currentPlayVedio?.title }}</h4> 
    <div class="jumbotron"> 
        <app-control></app-control>        
    </div>    
</div>  -->

<div nz-row nzType="flex" nzJustify="space-around" nzAlign="middle">
    <div nz-col nzSpan="16" class="height-500">
        <app-control></app-control>        
    </div>
</div> 

